$primary-color: #ffd700;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2'),
    url('./assets/fonts/LaBelleAurore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
    url('./assets/fonts/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DK Lemon Yellow Sun';
  src: url('./assets/fonts/DK Lemon Yellow Sun.otf') format('opentype');
}

@font-face {
  font-family: 'BT Book';
  src: url('./assets/fonts/tt0503m_.ttf') format('truetype');
}

body {
  font-family: 'DK Lemon Yellow Sun', sans-serif;
}